<div>
  <ul>
    <h1>Welcome to Watch List 🎥</h1>
    <%  @lists.each do |list| %>
    <li><%= list.name %></li>
    <% end %>
    <%= link_to 'Add a new list', new_list_path(@list)  %>
  </ul>
</div>
