<h3>Create a new list</h3>
<%= simple_form_for(@list) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Drama' %>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-flat' %>
  </div>
  <%= link_to 'Back', root_path %>
<% end %>